.art-display {
  width: 100%;
  margin-bottom: 28px;

  .image-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    content: "";
    height: 80vh;
    max-width: 100vw;
    background-position: center;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-color: black;

    .img-link {
      padding: 5px 10px; 
      color: $blue-white;
      font-size: 15px;
      font-family: $raleway;
      background-color: $transparent-grey;
      text-decoration: none;

      &:visited {
        color: $blue-white;
        text-decoration: none;
      }

      &:hover {
        color: white;
      }
    }
  }

  .info-container {
    padding: 0 30px;
    font-family: $raleway;
    color: $light-grey;
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.17;
    letter-spacing: normal;
    text-align: left;

    .long-title {
      color: $blue-white;
      font-size: 25px;
      font-weight: bold;
    }

    .general-data-container {
      display: flex;
      flex-direction: row;
      padding: 0 15px 30px;

      .specific-info-container {

        .material-container {
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          p {
            display: flex;
            flex-direction: row;
            align-items: center;
            i { margin-right: 5px; }
          }
        }

        .description-container {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;

          .main-colors {
            display: flex;
            flex-direction: column;
            margin: 0;
            margin-left: 15px;
            min-width: 15px;

            .color-item {
              content: '';
              height: 15px;
            }
          }
        }
      }

      .full-art-display {
        margin: 0 5px;
        height: 200px;
        width: auto;
      }
    }
  }
}
