.nav-bar {
  height: 100px;
  background-color: $dark-bg;
  color: $blue-white;
  display: flex;
  font-family: $raleway;
  flex-direction: row;
  align-items: center;
  padding: 0 20px;

  .title {
    margin: auto;
  }

  .material-icons {
    margin: 0 20px;
  }

  [class*=icons-container] {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    transition: width 2s;

    i { cursor: pointer; }
  } 

  .right-icons-container { width: 50%; }

  &.display-back-arrow {
    #back-icon { display: block !important; }
  }
}
