.nav-bar {
  height: 100px;
  background-color: $dark-bg;
  color: $blue-white;
  display: flex;
  font-family: $raleway;
  flex-direction: row;
  align-items: center;
  padding: 0 20px;

  .title {
    margin: auto;
  }

  .material-icons {
    margin: 0 20px;
  }

  [class*=icons-container] {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    transition: width 2s;

    i { cursor: pointer; }
  } 

  .right-icons-container { width: 50%; }

  &.display-back-arrow {
    #back-icon { display: block !important; }
  }

  &.display-filter {
    .right-icons-container { width: 50%; }

    select {
      display: block !important;
      width: 20%;
      border: none;
      border-bottom: 1px solid $light-grey;

      &, option {
        font-family: $raleway;
        font-size: 15px;
        font-weight: 800;
        color: white;
        background-color: $dark-bg;
      }
    }
  }

  &.display-search-bar {
    .search-container {
      width: 100%;
      display: flex !important;
      flex-direction: row;
      align-items: center;

      .bar-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        input {
          border: none;
          color: white;
          padding: 2px 5px;
          font-size: 15px;
          font-family: $raleway;
          font-weight: 800;
          background-color: $dark-bg;
          border-bottom: 1px solid $light-grey;
          width: 100%;
        }
      }
    }
  }
}
