.result {
  margin: 0;
  margin-bottom: 30px;
  padding-right: 30px;
  box-sizing: border-box;

  .result-image {
    width: 100%;
    height: auto;
  }

  .result-error-image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
    font-family: $raleway;
    font-size: 20px;
    color: $blue-white;
    background-color: $grey;
  }

  .result-title {
    font-family: $raleway;
    font-size: 25px;
    color: $blue-white;
    padding: 5px;
    margin: 0;
  }

  .result-maker {
    font-family: $raleway;
    font-size: 15px;
    color: $light-grey;
    font-weight: 500;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: normal;
    margin: 0;
    padding: 0;
    padding-left: 5px;
  }
}
