.result-container {
  display: flex;
  flex-direction: row;
  background-color: $dark-bg;
  padding-top: 30px;
  padding-left: 30px;

  .result-column {
    display: flex;
    flex-direction: column;
    margin: 0;
    margin-right: 30px;
    box-sizing: border-box;
    width: 100%;
  }

  &.wide-mode {
    padding: 0;
    width: 100vw;

    .result-column {
      margin: 0;
    }
  }
}
